This is a jupyter notebook for exploratory analysis I performed. The purpose for this notebook was to

In [1]:
# Import Libraries 
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
at = pd.read_excel('BenHikersInfo.xlsx')

In [3]:
at.head()

,Finish,AgeYrFin,Race or Heritage,StAbbrev,Sex,Country,Hike Type,Start,Days Elapsed,Yr Comp,...,SchoolCredit,School,Minority,MinorityComments,Vegetarian,DehydrateOwnFood,Giardia,Lyme,Norovirus,Disease Other
0,9 /28/2016,27.0,Caucasian or White,NH,F,USA,Section,3/18/2015,561.0,NaN,...,False,NaN,False,NaN,False,False,False,False,False,NaN
1,12/31/1936,NaN,Prefer not to say,NaN,M,NaN,Section,NaN,NaN,1936.0,...,False,NaN,False,NaN,False,False,False,False,False,NaN
2,12/31/1939,NaN,Prefer not to say,NaN,M,NaN,Section,NaN,NaN,1939.0,...,False,NaN,False,NaN,False,False,False,False,False,NaN
3,12/31/1939,NaN,Prefer not to say,IL,M,USA,Section,NaN,NaN,1939.0,...,False,NaN,False,NaN,False,False,False,False,False,NaN
4,12/31/1939,NaN,Prefer not to say,IL,F,USA,Section,NaN,NaN,1939.0,...,False,NaN,False,NaN,False,False,False,False,False,NaN

In [4]:
at.isnull().sum()

Finish                   0
AgeYrFin              3514
Race or Heritage        15
StAbbrev               585
Sex                     64
Country                 83
Hike Type              888
Start                  692
Days Elapsed           697
Yr Comp                  1
Hiking Disability     8853
Disability           17496
HikedWDog                0
DogBreed             17644
DogWeightLbs           115
WinterHike               0
Under2KSpent             0
Under2KAmount          109
SchoolCredit             0
School               17816
Minority                 0
MinorityComments     17757
Vegetarian               0
DehydrateOwnFood         0
Giardia                  0
Lyme                     0
Norovirus                0
Disease Other        17658
dtype: int64

In [ ]:
at['Hike Type'].value_counts()

In [ ]:
# at['AgeYrFin'].mean()

In [ ]:
at.dropna(subset= ['Hike Type'],inplace = True)

In [ ]:
# Delete all non Thru-Hikers From Hike Type column to find out how many thru hikers there are
def clean_8(df):
    to_drop = ['Section','Alternative','Othe','Oher','alternative','Alterntive','Yo Yo']
    x = df[df['Hike Type'].isin(to_drop)]
    y = x.index
    df.drop(y,inplace = True)
clean_8(at)

In [ ]:
at['Hike Type'].value_counts()

In [ ]:
#14536 Thru Hikers
at.shape

In [ ]:
at['Sex'].value_counts()

In [ ]:
at['Sex'].value_counts()

In [ ]:
at['AgeYrFin'].mean()

In [ ]:
at['AgeYrFin'].median()

In [ ]:
at.head()

In [ ]:
at['Hike Type'].value_counts()

In [ ]:
len(at['Hike Type'])

In [ ]:
at.head()

In [ ]:
at['Start_Date'] = pd.to_datetime(at['Start'])

In [ ]:
x = at['Start_Date'].dt.year

In [ ]:
x.nsmallest()

In [ ]:
plt.figure(figsize = (10,10))
sns.heatmap(at.corr(),annot = True)

In [ ]:
z = at.isnull().sum()
z.plot(kind = 'bar')

In [ ]:
at['AgeYrFin'].mean()

In [ ]:
at['AgeYrFin'].min()

In [ ]:
at['AgeYrFin'].max()

In [ ]:
at['Sex'].value_counts()

In [ ]:
at.head()

In [5]:
13648-216

13432