## Data Science Immesive Final Project (General Assembly ATX Spring 2017)

#### Idea. Predict time on trail from features of dataset  
## What sort of things can I add to this dataset? Weather,etc..
My data was obtained through the Appalachian Trail Conservancy. I called and asked for all availible data on Thru hikers. Talk about form.

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [11]:
at = pd.read_excel('BenHikersInfo.xlsx')

In [12]:
at.head()

,Finish,AgeYrFin,Race or Heritage,StAbbrev,Sex,Country,Hike Type,Start,Days Elapsed,Yr Comp,...,SchoolCredit,School,Minority,MinorityComments,Vegetarian,DehydrateOwnFood,Giardia,Lyme,Norovirus,Disease Other
0,9 /28/2016,27.0,Caucasian or White,NH,F,USA,Section,3/18/2015,561.0,NaN,...,False,NaN,False,NaN,False,False,False,False,False,NaN
1,12/31/1936,NaN,Prefer not to say,NaN,M,NaN,Section,NaN,NaN,1936.0,...,False,NaN,False,NaN,False,False,False,False,False,NaN
2,12/31/1939,NaN,Prefer not to say,NaN,M,NaN,Section,NaN,NaN,1939.0,...,False,NaN,False,NaN,False,False,False,False,False,NaN
3,12/31/1939,NaN,Prefer not to say,IL,M,USA,Section,NaN,NaN,1939.0,...,False,NaN,False,NaN,False,False,False,False,False,NaN
4,12/31/1939,NaN,Prefer not to say,IL,F,USA,Section,NaN,NaN,1939.0,...,False,NaN,False,NaN,False,False,False,False,False,NaN

#### Exploratory Analysis

In [7]:
at['Yr Comp'].isnull().sum()

1

In [ ]:
at.describe()

In [ ]:
# Null values by column 
plt.figure(figsize = (10,10))
z = at.isnull().sum()
z.plot(kind = 'bar')

In [ ]:
at['Hiking_Disability'].nunique()

# How I have cleaned this DataSet: 
I explore the data column by column to understand what sort of missing or inaccurate values are contained.

def (clean_1): Columns that can/will be dropped
- Rename columns to be more accurate.
- Drop 'Days Elapsed' column as it does not accuratly calculate the number of days on trail. (I replace this column in clean_2 with 'Total_Days')
- Drop 'Hiking_Disability' Column as it was not well reported ()
- Drop Dog Weight Column (16238 of possible 17835 values were 0)
- Drop columns with too many null values (columns that exceed 85 percent null values)
- drop null values out of columns
- Drop Under2kAmount column since (16125 out of 17835) values were 0 essentially the same as null values 


def (clean_2/clean_3): Clean up the Age column 
- Fill null values in 'Age' column with median age.
- All values below 4(There were some negative values) 
- The youngest person to thru-hike the AT is 5 so I assume all values above this are 

 
    
def (clean_4): Datetime objects, 
-  Convert 'Start' and 'Finish' columns to Datetime objects
-  Create a new column 'Total Days' that calculates total days on trail (at['Finish] - at['Start'])) 
-  There was as single null value in completion year, however, the finish date showed the hiker completed in 2016 so I changed the value to 2016 
- I conveted the completion yr column from floats to ints 



def (clean_5): Clean up 'Sex' column
- In (clean_1) I dropped all null values in this column 
- Drop 'oher' and 'othe' out of the sex column
- Convert the 'Sex' column to numerical format with the map function

To do 
10.) # Find out whether the section column included is a thru section. 
8.) Dropped a column that had a finish date of 2022 as year 17369

## Data Exploration

## Cleaning Dataset

In [14]:
def clean_1(df):
    df.drop(labels = df[['Disease Other','School','DogWeightLbs','Days Elapsed','MinorityComments','School',
                         'DogBreed','Disability','Under2KAmount']], axis = 1, inplace = True)
    df.rename(columns = {'AgeYrFin': 'Age','Race or Heritage': 'Race',
                        'StAbbrev':'State', 'Hiking Disability ': 'Hiking_Disability', 
                         'Hike Type': 'Hike_Type', 'Yr Comp':'completion_yr',
                         'Hiking Disability':'Hiking_Disability'},inplace = True)
    df.dropna(subset= ['Start','Sex','Race','Country','State','Hike_Type'],inplace = True)

clean_1(at)

In [15]:
def clean_2(df):
    df['Age'] = df['Age'].fillna(df['Age'].median())
clean_2(at)


def clean_3(x,median_age): 
    if x < 4:
        return median_age
    else:
        return x 
at['Age'] = at['Age'].apply(lambda x: clean_3(x, at['Age'].median()))

In [16]:
def clean_4(df):
    df['Finish'] = pd.to_datetime(df['Finish'])
    df['Start'] = pd.to_datetime(df['Start'])
    df['Total_Days'] = df['Finish'] - df['Start']
    df['completion_yr'].fillna(2016,inplace = True)
    df['completion_yr'] = df['completion_yr'].astype(int)
clean_4(at)

In [17]:
def clean_5(df):
    df['Sex'] = df['Sex'].map({'M':0,'F':1})
    to_drop = ['othe','Oher']
    x = df[df['Sex'].isin(to_drop)]
    y = x.index
    df.drop(y,inplace = True)
clean_5(at)

In [18]:
at['Sex'].value_counts()

0.0    12384
1.0     3766
Name: Sex, dtype: int64

In [19]:
# drop hike types that are 'Alternative','alternative','Alterntive'
def clean_5(df):
    to_drop = ['Alternative','alternative','Alterntive']
    x = df[df['Hike_Type'].isin(to_drop)]
    y = x.index
    df.drop(y,inplace = True)
clean_5(at)

In [20]:
at['Giardia'].value_counts()
a

,Finish,Age,Race,State,Sex,Country,Hike_Type,Start,completion_yr,Hiking_Disability,...,WinterHike,Under2KSpent,SchoolCredit,Minority,Vegetarian,DehydrateOwnFood,Giardia,Lyme,Norovirus,Total_Days
0,2016-09-28,27.0,Caucasian or White,NH,1.0,USA,Section,2015-03-18,2016,NaN,...,False,False,False,False,False,False,False,False,False,560 days
8,1948-12-31,29.0,Prefer not to say,PA,0.0,USA,NOBO,1948-01-01,1948,No,...,False,False,False,False,False,False,False,False,False,365 days
9,1951-10-10,28.0,Prefer not to say,CT,0.0,USA,SOBO,1951-05-30,1951,No,...,False,False,False,False,False,False,False,False,False,133 days
10,1951-09-30,29.0,Prefer not to say,GA,0.0,USA,NOBO,1951-05-31,1951,No,...,False,False,False,False,False,False,False,False,False,122 days
20,1959-09-17,20.0,Caucasian or White,GA,0.0,USA,NOBO,1959-05-23,1959,No,...,False,False,False,False,False,False,False,False,False,117 days

In [ ]:

df.drop(df.index[[17264,17236,17369]], inplace = True)

In [ ]:
at.head()

In [ ]:
at['Hike_Type'].value_counts()

In [ ]:
# I need to split this row to be 1 Nobo and 1 sobo
at[at['Hike_Type'].str.contains('Yo Yo')]

In [ ]:
at.ix[17107].to_frame().T

In [ ]:
at[at['Age'] < 10]

In [ ]:
at['Minority'].value_counts()

In [ ]:
at['Sex'].value_counts()

In [ ]:
at[at['Sex'].str.contains('othe')]

In [ ]:
at[at['Sex'].str.contains('Oher')]

In [ ]:
df.drop([17264,17236])

In [ ]:
x['Sex'].str.contains('othe')

In [ ]:
at.shape

In [ ]:
at.isnull().sum().nlargest(30)

In [ ]:
#plt.figure(figsize = (10,10))
#null.plot(kind = 'bar')

# Notes on How I have cleaned my DataSet






4.) Drop Dog Weight Column 16238 of possible 17835 values were 0. So nearly the same as null 

5.) Drop Under2kAmount column 16125 of 17835 values were 0. It was just not self reported very well

4.) Rename Columns with spaces in them or w/ confusing names. 

5.) Replace Null Values in yr completed with 2016 since we do know his start date* 

6.) Drop oher and othe out of the sex column

7.) Convert null values in age column to mean. I checked out a distplot for how this would change
with using mean,median or mode, and not alot of change. 

8.) Dropped a column that had a finish date of 2022 as year 17369

9.)

10.) # Find out whether the section column included is a thru section. 

11.)

12.)

13.)

In [ ]:
2.576 * .0087

In [ ]:
def clean_6(df):
    if df < 4:
        return df['Age'].fillna(df['Age'].mean())
at.apply(clean_6)