## Data Science Immesive Final Project (General Assembly ATX Spring 2017)
The data for my final project was obtained from Harpers Ferry,WV. My data was obtained through the
Appalachian Trail conservancy with the intent of being used for my final project 

#### Hypothesis: Can you predict how long it will take a thru hike to complete the Appalachian Trail based on the features of this dataset.

Ideas to concatenate this dataset

# Data Cleaning Table of Content: 
I explore the data column by column to understand what sort of missing or inaccurate values are contained.

def (clean_1): Columns that can/will be dropped
- Rename columns to be more accurate.
- Drop 'Days Elapsed' column as it does not accuratly calculate the number of days on trail. (I replace this column in clean_2 with 'Total_Days')
- Drop 'Hiking_Disability' Column as it was not well reported ()
- Drop Dog Weight Column (16238 of possible 17835 values were 0)
- Drop columns with too many null values (columns that exceed 85 percent null values)
- drop null values out of columns
- **** come back to this Drop Under2kAmount column since (16125 out of 17835) values were 0 essentially the same as null values 
- Dropped 'Hiking 


def (clean_2/clean_3): Clean up the Age column 
- Fill null values in 'Age' column with median age.
- All values below 4(There were some negative values) 
- The youngest person to thru-hike the AT is 5 so I assume all values above this are 

 
    
def (clean_4): Datetime objects, 
-  Convert 'Start' and 'Finish' columns to Datetime objects
-  Create a new column 'Total Days' that calculates total days on trail (at['Finish] - at['Start'])) 
-  There was as single null value in completion year, however, the finish date showed the hiker completed in 2016 so I changed the value to 2016 
- I conveted the completion yr column from floats to ints 



def (clean_5/clean_6): Clean 'Sex' column
- In (clean_1) I dropped all null values in this column 
- Drop 'oher' and 'othe' out of the sex column
- Convert the 'Sex' column to numerical format with the map function
- Drop null values in the Sex column. There were only 2. 

def (clean_7/clean_8): Clean 'Hike_Type' column (Drop section and alternative hikes)
- Drop values in the Hike column that are labeled alternative as I am unsure what these are and how to define them.
- Since I am only interested in Thru Hikers and trying to predict time on trail based on people trying to hike in 6 months, and since all thru section hikers take varying amounts of time. 


def (clean_10): Reset Index 
- The index needed to be reset since I had dropped many rows containing null values

# To do 

3.) Make True/False columns into dummy variables 

5.) Yo Yo split that into 1 Northbound and 1 southbound. 

6.) Race 

7.) State 

8.) There are negative total days (str.replace values)

In [91]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [92]:
at = pd.read_excel('BenHikersInfo.xlsx')

## Cleaning Dataset

In [93]:
def clean_1(df):
    df.drop(labels = df[['Disease Other','School','Hiking Disability','DogWeightLbs','Days Elapsed','MinorityComments','School',
                         'DogBreed','Disability','Under2KAmount']], axis = 1, inplace = True)
    df.rename(columns = {'AgeYrFin': 'Age','Race or Heritage': 'Race',
                        'StAbbrev':'State', 'Hiking Disability ': 'Hiking_Disability', 
                         'Hike Type': 'Hike_Type', 'Yr Comp':'completion_yr',
                         },inplace = True)
    df.dropna(subset= ['Start','Sex','Race','Country','State','Hike_Type'],inplace = True)

clean_1(at)  


def clean_2(df):
    df['Age'] = df['Age'].fillna(df['Age'].median())
clean_2(at)


def clean_3(x,median_age): 
    if x < 4:
        return median_age
    else:
        return x 
at['Age'] = at['Age'].apply(lambda x: clean_3(x, at['Age'].median()))

In [94]:
def clean_4(df):
    df['Finish'] = pd.to_datetime(df['Finish'])
    df['Start'] = pd.to_datetime(df['Start'])
    df['Total_Days'] = df['Finish'] - df['Start']
    df['completion_yr'].fillna(2016,inplace = True)
    df['completion_yr'] = df['completion_yr'].astype(int)
clean_4(at)

In [95]:
def clean_5(df):
    df['Sex'] = df['Sex'].map({'M':0,'F':1})
    to_drop = ['othe','Oher']
    x = df[df['Sex'].isin(to_drop)]
    y = x.index
    df.drop(y,inplace = True)
clean_5(at)

def clean_6(df):
    df.dropna(subset = ['Sex'], inplace = True)
clean_6(at)

In [96]:
def clean_7(df):
    to_drop = ['Alternative','alternative','Alterntive']
    x = df[df['Hike_Type'].isin(to_drop)]
    y = x.index
    df.drop(y,inplace = True)
clean_7(at)

def clean_8(df):
    to_drop = ['Section']
    x = df[df['Hike_Type'].isin(to_drop)]
    y = x.index
    df.drop(y,inplace = True)
clean_8(at)

In [97]:
def clean_10(df):
    df.reset_index(inplace = True, drop = True)
clean_10(at)

In [98]:
at.head()

,Finish,Age,Race,State,Sex,Country,Hike_Type,Start,completion_yr,HikedWDog,WinterHike,Under2KSpent,SchoolCredit,Minority,Vegetarian,DehydrateOwnFood,Giardia,Lyme,Norovirus,Total_Days
0,1948-12-31,29.0,Prefer not to say,PA,0.0,USA,NOBO,1948-01-01,1948,False,False,False,False,False,False,False,False,False,False,365 days
1,1951-10-10,28.0,Prefer not to say,CT,0.0,USA,SOBO,1951-05-30,1951,False,False,False,False,False,False,False,False,False,False,133 days
2,1951-09-30,29.0,Prefer not to say,GA,0.0,USA,NOBO,1951-05-31,1951,False,False,False,False,False,False,False,False,False,False,122 days
3,1959-09-17,20.0,Caucasian or White,GA,0.0,USA,NOBO,1959-05-23,1959,False,False,False,False,False,False,False,False,False,False,117 days
4,1965-09-23,29.0,Prefer not to say,PA,0.0,USA,SOBO,1965-04-16,1965,False,False,False,False,False,False,False,False,False,False,160 days

In [99]:
# circle back to this 
at['Hike_Type'].value_counts()

NOBO     10524
SOBO      1503
Flip       914
Yo Yo        1
Name: Hike_Type, dtype: int64

In [108]:
at['Total_Days'].nsmallest()

5910    -3475 days
12174      -1 days
12524      10 days
12679      40 days
12053      43 days
Name: Total_Days, dtype: timedelta64[ns]

In [102]:
at[at['Hike_Type'].str.contains('Yo Yo')]

,Finish,Age,Race,State,Sex,Country,Hike_Type,Start,completion_yr,HikedWDog,WinterHike,Under2KSpent,SchoolCredit,Minority,Vegetarian,DehydrateOwnFood,Giardia,Lyme,Norovirus,Total_Days
12915,2016-11-03,23.0,Prefer not to say,VA,0.0,USA,Yo Yo,2016-02-22,2016,False,False,False,False,False,False,False,False,False,False,255 days

In [ ]:
#plt.figure(figsize = (10,10))
#null.plot(kind = 'bar')

In [109]:
# Exploratory analysis

In [111]:
# Null values by column 
#plt.figure(figsize = (10,10))
#z = at.isnull().sum()
#z.plot(kind = 'bar')